<h4>My profile</h4>
<br>
<div>
<div class="col-lg-6">
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Full Name</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0"> {{developer.firstName}} {{developer.lastName}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{developer.email}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Phone</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{developer.phone}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Id</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{developer.id}}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Role</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{developer.role}}</p>
          </div>
        </div>
      </div>
    </div>
</div>