* {
    box-sizing: border-box;
  }

/* .container {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px; 
} */
  
  
  /* .content {
    margin-left: 200px;
    padding: 20px;
  } */
  
  /* @media (max-width: 768px) {
    .content {
      margin-left: 0;
    }
  } */

.nav-col{
  padding:0;
  
}
