* {
    box-sizing: border-box;
}

.row {
    margin-bottom: 30px;
}

.col {
    margin:10px;
}

h2 {
    margin-bottom: 30px
}

h3, h4 {
    margin-bottom: 25px;
}

h3 {
    margin-top: 15px;
}

div.container {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
}

hr {
    color:#198754
}

.firstRow{
    margin-bottom: 0px;
}

#noTopMargin {
    margin-top: 0px;
}