.head {
    font-size: 13px;
    margin-bottom: 8px;
}

hr {
    color:#198754
}

.info {
    font-size:small;
    font-weight: bold;
}

.head a, .head button {
    margin-right: 4px;
    margin-left: 4px;
}