<!-- <div *ngIf="errorMessage">
    <app-error [message]="errorMessage"></app-error>
</div> -->

<div class="container" id="titleWithButton">
    <h5>{{listName}}</h5> 
    <button class="btn btn-sm btn-success" *ngIf="displayAddButton" (click)="togglePopup()">Add Ticket</button>
</div>

<table class="table table-sm table-hover table-striped table-responsive" *ngIf="tickets">
    <thead>
        <tr class="table-success">
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Created</th>
            <th scope="col">Author</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ticket of tickets" (click)="ticketClicked(ticket)">
            <th>{{ticket.title}}</th>
            <th scope="row">{{ticket.description}}</th>
            <th scope="row">{{ticket.dateCreated}}</th>
            <th scope="row">{{ticket.author.firstName}} {{ticket.author.lastName}}</th>
            <th scope="row"><a><i class="fa fa-pencil fa-lg"></i></a></th>
        </tr>
    </tbody>
</table>

<!-- Add new ticket popup form: -->
<div class="popup-container" *ngIf="showPopup">
    <div class="popup-content">
        <app-create-ticket-form [projectId]="projectId"
                                [projectTeam]="projectTeam" 
                                (newTicketResponse)="onTicketAdded($event)"
                                (onClose)="togglePopup()"></app-create-ticket-form>
    </div>
</div>