<div class="container">
  <h5>Comments</h5>

  <div *ngFor="let comment of comments">
    <div class="author-date">
      <p class="">{{comment.commentAuthor.firstName}} {{comment.commentAuthor.lastName}}</p> 
      <p>{{comment.datePosted | date: 'MMM d, y, h:mm a'}}</p>
    </div>
    <div class="comment-text">
      <p>{{comment.content}}</p>
    </div>
     <hr>
  </div>

  <form class="form-inline" (ngSubmit)="onSubmit()" #myForm="ngForm">
    <div class="row">
      <div class="col form-group" >
        <input type="text" class="form-control" id="commentContent" [(ngModel)]="commentContent" placeholder="New Comment" name="commentContent" required>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-success" [disabled]="!myForm.form.valid">Submit</button>
      </div>
    </div>
  </form>
</div>