.author-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
  }
  
  .comment-text {
    margin-top: 1px;
  }

p {
    margin-bottom: 5px;
}

hr {
    margin-top:10px;
    margin-bottom:10px;
    color:#198754
}